

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #63AFD0;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

 /* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0 0;
	color: white;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

/* Custome hero-unit */
.hero-sign-in {
	margin: 0 auto 20px auto;
	max-width: 220px;
}

#sign-in {
	margin: auto;
	width: 220px;
}

#sign-in input[type="text"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#chat {
	display: none;
}

#chat .well {
	padding: 5px;
}

#connected-users {
	height: 500px;
}

#connected-users-number {
	background-color: white;
	color: #63AFD0;
	font-weight: bolder;
}

#chat-messages {
	height: 500px;
}

#chat-messages-list {
	overflow: scroll;
}


/* ==========================================================================
   Responsive stuff
   ========================================================================== */

/*
*/



